body {
  font-family: Avenir;
  font-size: 1.75rem;
  line-height: 150%;
  text-align: left;

}

h1 {
  font-size: 2.5rem;
  margin: .75rem 0 0.75rem 0;
}

button {
  width: 37%;
  height: 15%;
  top: 0;
  right: 0;
  border: 0;
  border-radius: 5px;
  font-family: Avenir;
  font-size: 1.5rem;
  background-color: lightgrey;
  margin-left: 6rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

/* Pattern styles */
.container {
flex: 1;
display: flex;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 0;
padding-right: 0;
width: auto;

}

.room {
  padding-top: 1rem;
}

.left-column-header{
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid black;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.left-column {
  background-color: grey;
  flex: .3;
  padding: 1rem;
}

.right-column {
  background-color: lightgrey;
  flex: 1;
  padding: 1rem;
}

.odd {
  background-color: lightgrey;
}

.even {
  background-color: darkgrey;
}
.room-title {
  flex-direction: row;
  border-bottom: 3px solid black;
  padding-bottom: .9rem;
  margin-bottom: 1rem;
}

.room-title h1:empty {
  padding: 1.35rem;
}

.btn-primary,.btn-warning {
  background-color: grey;
  border-color: grey;
  margin-left: 1rem;
}
