body {
  font-family: Avenir;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: left;

}

h1 {
  font-size: 1.75rem;
  margin: .75rem 0 0.75rem 0;
}

button {
  width: 37%;
  height: 15%;
  top: 0;
  right: 0;
  border: 0;
  border-radius: 5px;
  font-family: Avenir;
  font-size: 1.2rem;
  background-color: lightgrey;
  margin-left: 3rem;
  margin-top: .7rem;
}

/* Pattern styles */
.container {
display: flex;
}

.left-column-header{
  display: flex;
  flex-direction: row;
}
.left-column {
  background-color: grey;
  flex: .3;
  padding: 1rem;
}

.right-column {
  background-color: white;
  flex: 1;
  padding: 1rem;
}
