<section class="container">
  <div class="left-column">
    <div class="left-column-header" ng-controller="ModalCtrl as modal">
      <h1>Bloc Chat</h1>
      <button class="button" ng-click="openModal()"> new room </button>
    </div>
    <div class = "room" ng-repeat="room in rooms" ng-click="openRoom(room)">
      {{room.$value}}
    </div>
  </div>
    <div class="right-column">
      <section class="room-title">
      <h1 ng-hide="currentRoomTitle"> Chat Rooms </h1>
      <h1 ng-show="currentRoomTitle">{{currentRoomTitle}}</h1>
     </section>
      <div ng-repeat="message in currentRoomMessages">
        <div ng-class-odd="'odd'" ng-class-even="'even'">
          <b>{{message.username}}</b>:
          <br>
            {{message.content}}
          </br>
        </div>
      </div>
      <ng-include src="'/templates/chat_input.html'"></ng-include>
    </div>
</section>
